* {
    font-family: Arial, sans-serif;
}

.h2-title,
h1 {
    color: aqua;
}

h2 {
    color: blue;
    text-align: center;
}

/* Блок больше информации*/
.more-info {
    text-align: center;
    border: 3px solid #20B2AA;
    padding: 10px;
}

/* Стили стр с картой */
.map-body {
    padding: 0;
    margin: 0;
}

html.map-body, body.map-body, #map {
    height: 100%;
    width: 100%;
}

/* Блок с картой */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#basemaps-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 400;
    background: white;
    padding: 10px;
}

#basemaps {
    margin-bottom: 5px;
}

#backToMainPage {
    width: 170px;
    height: auto;
    border-bottom: 1px solid rgb(220, 53, 69)
}
